<!doctype html>
<html>
    <head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></head>
    <body>
        <div class="container">
            <h1>Image search engine</h1>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}<input type="file" name="query_img"><br>
                <input type="submit">
            </form>
            <h2>Query:</h2>
            {% if query_path %}
            <img src="{{ query_path }}" width="300px">
            {% endif %}
            <h2>Results:</h2>
            {% if scores %} {% for caption, image  in scores %}
                <figure style="float: left; margin-right: 20px; margin-bottom: 20px;">
                    <img src="{{ image }}" height="200px">
                    <figcaption>{{ caption }}</figcaption>
                </figure>
            {% endfor %}
            {% else %}
                <p>No results found.</p>
            {% endif %}
        </div>
    </body>
</html>

    